body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-grid,
.todo-input-grid
{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  align-items: center;
  gap: 10px;
}

.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input
{
  font-size: 15px;
  padding: 6px;
}

.add-todo-button{
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.delete-todo-button{
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
}

.container{
  background-color: rgb(233, 236, 239);
  border: 1px solid rgb(178, 181, 184);
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.1);
}

p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}